<nav class="navbar navbar-expand-lg navbar-light shadow  bg-white">
  <div class="container-fluid">
    <img
      src="https://i.pinimg.com/736x/0d/cf/b5/0dcfb548989afdf22afff75e2a46a508.jpg"
    />
    <a class="navbar-brand m-1" routerLink="/dashboard">Phoenix</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto px-4 mb-2 mb-lg-0">
        <li class="nav-item ml-5">
          <a class="nav-link active history" aria-current="page" routerLink="/"
            >Home</a
          >
        </li>
      </ul>
      <form class="d-flex">
        <button
          class="btn btn-outline-primary m-1"
          *ngIf="!isloggedIn"
          routerLink="auth/login"
          type="submit"
        >Login</button>
        <button
          routerLink="/history"
          *ngIf="isloggedIn"
          class="btn btn-primary m-1"
        >History</button>
      </form>
    </div>
  </div>
</nav>
