img {
    width: 50px;
    margin-bottom: 10px;
}

.heading {
    text-align: center;
}

.form-name {
    font-size: 25px;
}
.card {
    width: 700px;
    height: 520px;
}
input.ng-invalid.ng-touched {
  box: 0 0;
  border: 1px solid rgb(247, 153, 153);
  box-shadow: 0 0 10px inset rgb(247, 153, 153);
  animation:  shake 300ms;
}
@keyframes shake{
25%{ transform: translate(4px);}
50%{ transform: translate(-4px);}
75%{ transform: translate(4px);}
}
.text-danger {
    font-size: 13px;
}

.section {
    max-height: 580px;
    overflow-y: auto;
    direction: ltr;
    scrollbar-color: #d4aa70 #e4e4e4;
    scrollbar-width: thin; 
  
  }
  
  .section::-webkit-scrollbar {
    width: 17px;
  }
  
  .section::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 100px;
  }
  
  .section::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
    background-color: blue;
  }
  