<div class="carourol">
    <div id="carouselExampleDark" class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="https://img.ticketnew.com/tn/offer_banner/Bhediya_1/1920_400_1.jpg" class="d-block w-100" style="height:300px" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="1000">
            <img src="https://img.ticketnew.com/tn/offer_banner/Avatar_way_of_water/1920_400.jpg" class="d-block w-100" style="height:300px" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="1000">
            <img src="https://img.ticketnew.com/tn/offer_banner/busticket/1920_400.jpg" class="d-block w-100" style="height:300px" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="1000">
            <img src="https://assets-in.bmscdn.com/promotions/cms/creatives/1669813550280_wfqc.jpg" class="d-block w-100" style="height:300px" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
<div class="movies">

    <div class="container">
      <div class="mt-3 d-flex" style="justify-content:space-between">
        <div>
        <h3>Recommended Movies</h3>
      </div>
        <div class="mt-2" >
        <a class="text-right" routerLink="/dashboard">See All</a>
      </div>
      </div>
      <div class="row" >
        <div class="card" *ngFor="let poster of moviesPoster">
          
          <img [src]="poster.image">
          <div style="width:90%">
        <button class="btn btn-danger show-details-button" routerLink="/feature/show-details/{{poster.id}}">Show Details
        </button>
      </div>
        </div>
      </div>
    </div>
    
</div>
<app-footer></app-footer>
