@import '/src/assets/color/color.scss';

.title{
  margin-bottom: 5vh;
}
.item-cart{
  margin: auto;
  max-width: 950px;
  width: 90%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent;
}


.cart{
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}

.summary{
  background-color: $mypink;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;;
  color:$mywhite;
}

.checkout-btn{
  background-color: white;
  border-color: #000;
  color: black;
  width: 100%;
  font-size: 0.7rem;
  margin-top: 4vh;
  padding: 1vh;
  border:none;
  border-radius: 13px;
}
.clear-btn{
  background-color: red;
  border-color: #000;
  color: black;
  width: 100%;
  font-size: 0.7rem;
  margin-top: 4vh;
  padding: 1vh;
  border:none;
  border-radius: 13px;

}

#code{
  background-image: linear-gradient(to left, white , rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
}

.wordWrap {
  word-break: break-all;
}

.innerContainer {
  color: #fff;
  text-align: center;
}
.seat {
  padding-right: 5px;
  cursor: pointer;
}

.reservedSeat {
  color: #ce4844;
}
.selectedSeat {
  color: #5cb85c;
}
.freeSeat {
  color: blue;
}
.seating{
  margin: 0 0 0 214px;
  
}
h5{
  margin: 0 0 0 -13px;
}
.date-font{
  font-size:15px;
}

.show-seat{
   display: flex;
  justify-content: center;
}
@media only screen and (max-width: 700px) {
  
  .seating{
    margin: 0 0 0 150px;
    
  }
}

@media only screen and (max-width: 1024px) {
  .seating{
    margin: 0 0 0 113px;
    
  }
}
