.movie-img {
  padding-top: 10px;
  text-align: center;
}
img {
  width: 200px;
}
.card {
  height: 500px;
  margin-top: 80px;
  border: none;
}
input.ng-invalid.ng-touched {
  box: 0 0;
  border: 1px solid rgb(247, 153, 153);
  box-shadow: 0 0 10px inset rgb(247, 153, 153);
  animation: shake 300ms;
}
@keyframes shake {
  25% {
    transform: translate(4px);
  }
  50% {
    transform: translate(-4px);
  }
  75% {
    transform: translate(4px);
  }
}
.text-danger {
  font-size: 15px;
}
